body {
    background-image: url(pexels-ahmedadly-1270184.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover; /* This makes it fill the viewport */
}