* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "poppins";
  color: white;
}

html,
body {
  height: 100%;
}

body {
  background: linear-gradient(to right, #02c2cd, #7a2de7);
}

header {
  height: 6svh;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 2rem 3rem;
}

section {
  padding: 4rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.card {
  width: 60%;
  height: 15rem;
  background-color: white;
  border-radius: 20px;
  display: flex;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.474);
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: brightness(0.3);
  transition: transform 0.3s ease;
}

img:hover {
  filter: brightness(1);
}

.img a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15rem;
  width: 30rem;
  padding: 0.5rem;
}

.mid h1,
p {
  color: black;
  padding: 1rem;
}

.link {
  background: linear-gradient(to right, #02c2cd, #7a2de7);
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  margin: 5px;
}

a {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;

  border-radius: 15px;
}

.link a:hover {
  background: linear-gradient(to right, #03e0ec, #8e3ffe);
}

.mid {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.description {
  display: flex;
  gap: 1rem;
  margin-top: 2.3rem;
  height: 2rem;
}

.description .box {
  width: 20%;
  background-color: #02c2cd;
  padding: 0.4rem;
  border-radius: 4px;
  text-align: center;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.17);

  display: flex;
  justify-content: center; /* horizontal centering */
  align-items: center;
}

@media (max-width: 1486px) {
  .card {
    width: 80%;
  }
}

@media (max-width: 1024px) {
  header h1 {
    font-size: 1rem;
  }

  .card {
    flex-direction: column;
    width: 50%;
    height: 50%;
    padding: 1rem;
  }

  .img a {
    height: 100%;
    width: 100%;
  }

  .link {
    width: 100%;
    height: 3rem;
  }

  .mid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
  }

  .mid p {
    display: none;
  }
}

@media (max-width: 530px) {
  .mid h1 {
    font-size: 1rem;
  }
}

@media (max-width: 1703px) {
  .description {
    margin-top: 1rem;
  }
}
@media (max-width: 1581px) {
  .description {
    display: none !important;
  }
}
