#box1{
    width: 200px;
    height: 200px;
    background-color: red;
    position: sticky;
    top: 0px;
}

#box2{
    width: 100px;
    height: 100px;
    background-color: rgb(0, 140, 255);
    position: absolute;
    top: 50px;
    left: 50px;
}