#box1 {
    
    width: 300px;
    border: 2px solid black;
    margin: 0; 
    padding: 20px;
    background-color: rgb(255, 255, 255);
    display: flow-root;
}

#imgPokeball{
    height: 100px;
    float: left;
}

#imgPokeball1{
    height: 100px;
    float: right;
}

