/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #24252a;
}

li,
a,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border: 2px solid #f00c0c;
}

.logo {
  cursor: pointer;
}

.navbar {
  list-style: none;
}

.navbar li {
  display: inline-block;
  padding: 0px 20px;
}

.navbar li a {
  transition: all 0.3s ease 0s;
}

.navbar li a:hover {
  color: #0088a9;
}

button {
  background-color: rgba(0, 136, 169, 1);
  color: #edf0f1;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

/* animated underline */
/* ! Study */
.navbar li a {
    /* relative = nagaadjust base lang sa container 
                = Pag hindi relative, hindi mag-aadjust ang underline
    */
  position: relative;
  transition: color 0.3s ease;
}

.navbar li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px; /* Adjust as needed */
  width: 0;
  height: 2px;
  background-color: #0088a9;
  transition: width 0.3s ease;
}

.navbar li a:hover::after {
  width: 100%;
}


