<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="try1.css" />
  </head>
  <body>
    <div class="container">
      <div class="header" id="show">
        <div class="icon"></div>
        <div class="navbar">
          <div id="Home"><h2>Home</h2></div>
          <div id="About"><h2>About</h2></div>
          <div id="Services"><h2>Services</h2></div>
          <div id="Blog"><h2>Blog</h2></div>
        </div>
      </div>
      <div class="herosection"></div>
    </div>
  </body>
</html>

<!-- 8rows -->
<!-- 3column -->
