<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="try3.css" />
  </head>
  <body>
    <header>
      <div class="header-content">
        <nav id="navbar">
          <ul>
            <li><a href="#">New In</a></li>
            <li><a href="#">Vegan</a></li>
            <li><a href="#">Sale</a></li>
            <li><a href="#">About us</a></li>
          </ul>
        </nav>
        <div class="logo">Logo</div>
        <div class="right-section">
          <ul>
            <li class="miniLogo"><a href="#">0</a></li>
            <li class="miniLogo"><a href="#">0</a></li>
            <li class="miniLogo"><a href="#">0</a></li>
            <li class="miniLogo"><a href="#">0</a></li>
          </ul>
        </div>
      </div>
    </header>
    <section class="herosection">
      <div class="hero-content">
        <div id="left-side-content">
          <img src="image.png" alt="" />
        </div>
        <div id="right-side-content">
          <div class="maintext">
            <h3>Shop</h3>
            <div class="title">
              <h1>Summer</h1>
              <h1>Collection</h1>
            </div>
            <div class="subtitle">
              <p>Shop our summer collection</p>
              <p>with new harness, collars &</p>
              <p>accessories</p>
            </div>
          </div>
          <div id="button1">
            <button>Shop Now</button>
          </div>
        </div>
      </div>
    </section>
    <main>
      <div class="section2-title">
        <ul>
          <li id="underline"><a href="#">New Harness</a></li>
          <li><a href="#">New Colors</a></li>
          <li><a href="#">New Leads</a></li>
        </ul>
      </div>
      <div class="section2-cards-selection">
        <div id="card1" class="cards">
          <img src="image.png" alt="" />
          <div class="card-info">
            <div id="upper">
              <h1>Title</h1>
              <h1>$999</h1>
            </div>
            <div id="middle">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Consequuntur magni iste.
              </p>
            </div>
            <div id="lower"><button>Add to Cart</button></div>
          </div>
        </div>
        <div id="card2" class="cards">
          <img src="image.png" alt="" />
          <div class="card-info">
            <div id="upper">
              <h1>Title</h1>
              <h1>$999</h1>
            </div>
            <div id="middle">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Consequuntur magni iste.
              </p>
            </div>
            <div id="lower"><button>Add to Cart</button></div>
          </div>
        </div>
        <div id="card2" class="cards">
          <img src="image.png" alt="" />
          <div class="card-info">
            <div id="upper">
              <h1>Title</h1>
              <h1>$999</h1>
            </div>
            <div id="middle">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Consequuntur magni iste.
              </p>
            </div>
            <div id="lower"><button>Add to Cart</button></div>
          </div>
        </div>
      </div>
      <div class="section3-title">
        <h1>Explore Our Collection</h1>
      </div>
      <div class="section3-body">
        <div class="section3-cards" id="section3-card1">
          <img src="image.png" alt="" />
        </div>
        <div class="section3-cards" id="section3-card2">
          <img src="image.png" alt="" />
        </div>
        <div class="section3-cards" id="section3-card3">
          <img src="image.png" alt="" />
        </div>
        <div class="section3-cards" id="section3-card4">
          <img src="image.png" alt="" />
        </div>
      </div>
      <div class="section4">
        <div class="maincontent">
          <div class="maincontent-title">
            <h2>Tagline</h2>
            <h1>Section Title</h1>
            <h2>Tagline</h2>
          </div>
          <div class="maincontent-buttons">
            <button>See All Our Reviews</button>
          </div>
        </div>
        <div class="subcontent1" id="review"><h1>Reviews</h1></div>
        <div class="subcontent2" id="review"><h1>Reviews</h1></div>
      </div>
    </main>
    <footer></footer>
  </body>
</html>
