.autoshow {
  animation-name: autoShowAnimation;
  animation-timeline: view();
  animation-range: entry 0% entry 250%;
}

@keyframes autoShowAnimation {
  from {
    opacity: 0;
    transform: translateY(200px) scale(0.3);
  }
  to {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

.section3-font {
  animation-name: autoBlurAnimation;
  animation-timing-function: linear;
  animation-timeline: view();
}

@keyframes autoBlurAnimation {
  0% {
    filter: blur(40px);
  }
  50%,
  70% {
    filter: blur(0px);
  }
  100% {
    filter: blur(40px);
  }
}

@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
